.pop {
  &_container {
    height: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &_description {
    display: flex;
    padding: 0 1rem 0 1vw;
    &_num {
      color: white;
      opacity: 0.4;
      font-size: 4rem;
      padding: 0 3rem 0 0rem;
      transform: translateX(-30px);
    }

    &_content {
      display: flex;
      width: 70%;
      flex-direction: column;
      height: 100%;
      gap: 2rem;
      padding-left: 8.5rem;
      overflow-y: scroll;
      scroll-behavior: smooth;
      scroll-snap-type: mandatory;
      &.flipped {
        direction: rtl;
      }
      &::-webkit-scrollbar {
        width: 6px;
        background-color: darkgray;
        border-radius: 60px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        height: 100px;
      }
      &_header {
        font-size: 4rem;
        direction: ltr;
        color: var(--primary-color);
      }
      &_text {
        color: var(--color-text);
        direction: ltr;
      }
    }
  }
  &_nums {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 4rem;
    color: white;
    width: 50%;
    text-align: right;
    .pop_num {
      margin-left: auto;
      cursor: pointer;
      transition: all 300ms ease-out;
      &:hover {
        color: var(--primary-color) !important;
        transform: scale(1.3, 1.3) !important;
      }
    }
  }
}
