.footer_nav {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  color: var(--color-text);
  padding: 2rem 4rem;
  &_date_selector {
    display: flex;
    align-items: center;
  }
  &_social-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 2rem;
    :first-child {
      font-family: serif;
      font-size: 2.4rem;
      font-weight: lighter;
    }
    :nth-child(3) {
      font-weight: bolder;
    }
    .wk {
      display: flex;
      align-items: center;
      span {
        transform: translateX(-10px);
      }
    }
  }
  .company_name {
    margin: 0 auto;
    display: flex;
    align-items: center;
    p {
      color: var(--primary-color);
      margin-left: 0.2em;
    }
  }
}
