.whatwedo {
  &_container {
    height: 65%;
    width: 100%;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    color: white;
  }
  &_descrip {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
    gap: 1rem;
    &_label {
      display: flex;
      align-items: center;
      gap: 2rem;
      position: relative;
      margin-right: auto;

      .label {
        color: white;
        opacity: 0.4;
      }

      .whatwedo_descr {
        font-size: 1.4rem;
        color: white;
        transition: all 300ms ease-in;
        position: relative;
        transform-origin: left;
        &::before {
          content: "";
          border-bottom: 3px solid var(--primary-color);
          width: 0%;
          height: 110%;

          transition: width 300ms ease-in;
          position: absolute;
          inset: 0 0 0 0;
        }
        &:hover {
          transform: scaleX(1.05);
        }
        &:hover::before {
          width: 100%;
        }
      }
    }
  }
  &_header-date {
    display: flex;
    padding-right: 5rem;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    .date {
      color: white;
      opacity: 0.7;
    }
    .whatwedo_header {
      font-size: 5rem;
      font-weight: 500;
      color: var(--primary-color);
    }
    .header_desc {
      color: white;
      opacity: 0.7;
    }
  }
}
