.parent-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translateX(50px);
  position: relative;
  animation: infinite spin 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  @keyframes spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  .spinner1 {
    position: absolute;
    background-color: #fec303;
    top: 10%;
    left: 35%;
    right: 0%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 100%;
      right: 0%;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: inherit;
    }
  }
  .spinner2 {
    position: absolute;
    top: 35%;
    left: 12%;
    right: 0%;
    width: 10px;
    height: 10px;
    background-color: #fec303;
    border-radius: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 100%;
      right: 0%;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: inherit;
    }
  }
}
