@import "./variables";
@import "./mixins";
@import "./component/Homescreen/Home";
ul,
a {
  text-decoration: none;
  list-style-type: none;
}
*,
::before,
::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
